.page-footer__description {
  display: inline-block;
  vertical-align: super;
  margin: 0;
  font-weight: 700;
}

.page-footer__name {
  width: 80%;
  
  td {
    height: 23px;
    padding: 0;
  }
  
  td:not(.page-footer__text) {
    border: none;  
  }
}

.page-footer__table-title {
  width: 20%;
  vertical-align: top;
}

.page-footer__sell {
  width: 45%;
}

.page-footer__text {
  width: 45%;
  text-align: center;
  vertical-align: top;
  border: none;  
  border-top: 1px solid #000000;
}


