.person-info__description {
  vertical-align: super;
  margin: 0;
}

.person-info__name {
  width: 90%;
  padding: 0;
  
  td {
    height: 23px;
    padding: 0;
  }
  
  td:not(.person-info__text) {
    border: none;  
  }
}

.person-info__table-title {
  width: 26%;
  vertical-align: top;
}

.person-info__sell {
  width: 35%;
  
  &--user {
    width: 45%;
  }
}

.person-info__text {
  width: 35%;
  text-align: center;
  vertical-align: top;
  border: none;
  border-top: 1px solid #000000;
  
  &--user {
    width: 45%;
  }
}

.person-info__hidden {
  width: 1%;
}

.person-info__table {
  width: 60%;
  
  td {
    border:none;
  }
  
  td:last-child:not(.person-info__const) {
    border-bottom: 1px solid #000000;
  }  
  
  td:last-child {  
    width: 60%;
  }
}

.person-info__first-line td {
  padding-bottom: 23px;
  padding-top: 23px;
}
