.page-header__title {
  text-align: right;
}

.page-header__subtitle {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 23px;
}

.page-header__table td {
  border: none;
}

.page-header__text-right {
  text-align: center;
}

.page-header__time {
  text-align: right;
}
